@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap");

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

.App {
    background-image: url('./assets/pictures/tunnel_tube.jpg');
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.App-Footer {
    margin-top: -60px;
}
